.header__logo{
	widows: 249.25px;
	height: 84.25px;
	display: block;
	margin: auto;
	padding-top: 150px;
}
.input{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
}
.buttons{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.wrapper{
	margin-top: 30px;
	text-align: center;
}
.checkbox{
	display: inline-block; 
	margin-right: -0.25em;
}
.wrapper__forgot-password{
	margin-left: 15px;
	display: inline-block; 
}
.input__login{
	padding: 0 20px;
	font-size: 14px;
	position: relative;
	height: 46px;
	line-height: 46px;
	left: 650px;
	top: 20px;
}
.input__password{
	padding: 0 20px;
	font-size: 14px;
	position: relative;
	height: 46px;
	line-height: 46px;
	left: 650px;
	top: 30px;
}
.buttons__log-in{
	width: 122px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: none;
	border-radius: 3px;
	transition: color .3s,background .3s;
	background: #f65d50;
	margin-left: 695px;
	margin-top: 10px;
}